		/**{margin:0;padding:0;}*/
		a{
			text-decoration:none;
		}

		body{
			background:#DEDEDE;
			min-width: 700px;
			overflow:auto;
		}
		aside{margin:0;}

		/*ul li{
			list-style:none;
		}*/

		.main{
			margin:20px 440px 20px 20px;
		}
		.header,.footer{
			background-color:#333333;
			/*width: 1250px;*/
			height:60px;
			/*margin:10px 0 0;*/
		}

		.header img{
			float:left;
			height:50px;
			margin:5px 5px;
		}

		.header ul {
			float:right;
			color:red;
			margin-right:10px;
		}
		.header ul li{
			float:left;
			width:120px;
			/*color:white;*/
		}

		.header ul li a{
			color:white;
		}

		.content{
			background:white;
			padding:10px;
		}
		.content img{
			width:200px;
		}
		.content ul{
			margin-left:20px;
		}
		.picstyle{
			padding:10px;
			border:1px solid black;
			margin-top:10px;
			margin-left:20px;
			display: inline-block;
		}

		.picstyle img{

			width:104px;
		}
		.picstyle span{
			display:block;
			text-align:center;
			font-weight:bold;
		}

		.table{
			border:1px solid white ;
			border-collapse:collapse; 
		}

		.tablehead{
			background:black;
			color:#fff;
		}

		th,td{
			border:1px solid black;
			width:100px;
			text-align:center;
			height:30px;
		}

		.label{
			width:150px;
			/*float:left;*/
			display:inline-block;
			text-align:right;
			font-size:16px;
			line-height:30px;
		}

		.inputtext{
			width:150px;
			height:20px;
		}

		.tips{
			display:inline-block;
			width:300px;
			text-align:center;
			font-size:16px;
			line-height:30px;
			color:#B3A4A7;
		}

		.submitbutton{
			width:300px; 
			height:60px;
			background:#3355D0;
			border:1px solid blue;
			border-radius:6px;
			text-align: center;
			color:#fff;
			font-size:20px;
			margin-left:50px;
		}

		.selecttext{
			width:150px;
			height:25px;
			margin-top:2px;
		}
		.nav{
			float:right;
			width:400px;
			margin:20px 20px 0 0;
			overflow: hidden;
		}

		.footer div{
			color:#FFF;
			text-align:center;
			line-height: 60px;
		}